@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");
html,
body {
  font-family: "Kulim Park", sans-serif !important;
}
.Gallery__NavigationArrow button {
  outline: none;
}
.project-title {
  display: table;
  display: none;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #a84832, #3246a8);
  border-image-slice: 1;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15px;
}
@media screen and (max-width: 767.98px) {
  .project-title {
    display: block;
  }
}
.MuiAutocomplete-root {
  display: inline;
}
.FreeSolo-input-462 {
  display: inline;
}

/* both are same */
.MuiFormControl-root {
  width: 80%;
}
.MuiTextField-root {
  width: 80%;
}
.MuiFormControl-fullWidth {
  width: 80%;
}
/* both are same */

/*to make the searchbar fullwidth without breaking the component */
.MuiInputBase-root {
  width: 100%;
}

.MuiInputLabel-formControl {
  margin-left: 5px;
}

.MuiOutlinedInput-root {
  padding-right: 10px !important;
}

div .MuiTypography-body1 {
  margin-left: 20px;
}
