.container {
  /* background-image: url("../../images/tree.png"), url("../../images/tree1.png"),
    url("../../images/tree2.png");
  background-repeat: no-repeat;
  background-position: 100% 10%, 0% 0%, 20% 90%; */
  width: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
  display: inline-block;
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 70% 100%, 0 100%, 0 0);
  background-color: rgba(44, 142, 172, 0.76);
}
.form {
  width: 700px;
  position: absolute;
  margin: 35vh auto;
  left: 0;
  right: 0;
}
